<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pupr">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/pupy"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".LoginPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomePage"
            android:label="Home" />
        <activity
            android:name=".EditProfile"
            android:label="Tap The Picture To Change" />
        <activity
            android:name=".VotingPage"
            android:label="Vote For Your Favorite Dogs" />
        <activity
            android:name=".Leaderboard"
            android:label="Leaderboard: Tap to View Stats" />
        <activity android:name=".ViewProfile"
            android:label="Individual Stats"></activity>
        <activity android:name=".SignUp" />
    </application>

</manifest>